:root {
    --gray-10: #101010;
    --gray-15: #151515;
    --gray-1a: #1a1a1a;
    --gray-20: #202020;
    --gray-25: #252525;
    --gray-2a: #2a2a2a;
    --gray-30: #303030;
    --orange: rgb(255, 124, 0);
    --violet: rgb(90, 49, 164);
}