
footer {
    background-color: #1a1a1a;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

footer * {
    background-color: inherit;
}

footer address {
    font-size: small;
    background-color: #181818;
    border-radius: 5px;
}

.footer-content {
    display: inline-block;
}
