@import url('colors.css');

form {
    display: block;
    background-color: var(--gray-15);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
input[type="file"],
input[type="checkbox"],
input[type="yes"],
input[type="submit"],
input[type="datetime-local"],
select[id="language-select"] /*cтилизация полей ввода*/{
  border: 3px solid rgb(42, 42, 42);
  background: var(--gray-15);
  border-radius: 5px;
  padding: 5px;
  font-size: 12px;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="file"]:focus,
input[type="datetime-local"]:focus,
select[id="language-select"]:focus /*cтилизация полей ввода при фокусе*/{
  outline: none;
  border: 3px solid var(--gray-30); 
  box-shadow: 0 0 5px rgba(42, 42, 42, 1.2);
}

input[type="submit"],
button /*cтилизация кнопок*/{
  transition: background .15s;
  background-color: var(--gray-15);
  border: 3px solid var(--gray-25);
  border-radius: 5px; 
  padding: 10px 10px;
  font-size: 14px; 
  cursor: pointer;
}

button[type="submit"]:hover,
input[type="submit"]:hover,
button:hover /*cтилизация кнопок при наведении*/{
  color: var(--orange);
  background-color: var(--gray-25);
}

button[type="submit"]:active,
input[type="submit"]:active,
button:hover /*cтилизация кнопок при наведении*/{
  color: var(--violet);
  background-color: var(--gray-30);
}

textarea /*стилизация текстовой области*/{
  background-color: rgb(222, 222, 222);
  border: 3px solid rgb(42, 42, 42);
  border-radius: 5px;
  width: 375px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

textarea:focus /*стилизация текстовой области при фокусе*/{
  outline: none;
  border: 3px solid var(--gray-25);
}
  
input[type="text"]::placeholder,
input[type="tel"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder,
input[type="file"]::placeholder,
input[type="datetime-local"]::placeholder,
textarea::placeholder /*стилизация подсказок с использованием псевдоэлемента*/{
  text-align: center;
  color: rgb(55, 55, 55);
  font-style: italic;
}
#text-input::placeholder /*пример с измененным цветом для определенного поля*/{
  text-align: center;
  color: red;
}

input[type="file"]::file-selector-button {
  font-family: Montserrat;
  font-size: 15px;
  margin-right: 20px;
  background: var(--gray-15);
  border: none;
  padding: 7px 14px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background .15s;
}

input[type="file"]::file-selector-button:hover {
  color: var(--orange);
  background: var(--gray-25);
}

input[type="file"]::file-selector-button:active {
  color: var(--violet);
  background: var(--gray-30);  
}

select > option:checked  {
  background: #303030;
}

.field {
  margin: 15px;
  margin-left: auto;
  margin-right: auto; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.field > label,
.field legend {
  background-color: transparent;
  text-align: center;
  margin-bottom: 15px;
}

.field > input,
.field > textarea,
.field > fieldset,
.field > button {
  width: 60%;
}

form fieldset {
    border-color: transparent;
}

form input, form textarea, form select {
    background-color: var(--gray-15);
}

#checkbox {
  display: flex;
  flex-direction: row;
}

#checkbox > * {
  margin: 5px;
}

#language {
  display: flex;
  flex-direction: column;
}

#language > select {
  height: 100px;
}

#form {
  
}