nav {
    background-color: #151515;
    padding: 0px;
    border-radius: 10px;
    max-width: 60%;
}

nav .nav_list {
    display: flex;
    font-size: 25px;
    height: 100%;   
    align-items: center;
}

nav .nav_list a {
    border-radius: 10px;
    text-decoration: none;
    padding: 27px 25px;
}

nav .nav_list a:hover {
    background-color: #252525;
    color: #ff7c00;
}

nav .nav_list a:active {
    background-color: #303030;
    color: rgb(90, 49, 164);
}
