@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&display=swap');
@import url('nav_menu.css');
@import url('footer.css');
@import url('header.css');

* {
    font-family: Montserrat;
    color: white;
    box-sizing: border-box;
}

.contacts {
    margin-bottom: 25px;
}

.contacts * {
    margin: 10px;
    text-decoration: none;
}

.contacts a:hover {
    color: #ff7c00;
}

.contacts a:active {
    color: rgb(90, 49, 164);
}

body {
    background-color: #101010;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 5px;
    margin-inline-end: 5px;
    position: relative;
    margin: auto;
    max-width: 1300px;
}

main {
    display:flex;
    background-color: #1a1a1a; /* Цвет фона для футера (замените на свой) */
    font-size: 20px;
    padding: 0px;
    margin: 10px;
    border-radius: 10px;
}

section {
    margin: 10px;
}

section .last {
    margin-bottom: 0;
}

article {
    background-color: #151515;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

article h1, article  h2, article  h3 {
    text-align: center;
}

article h1 {
    font-size: 32px;
    margin: 10px 0px;
    position: relative;
}


article pre {
    font-size: 16px;
    padding: 30px;
    margin: 0;
    text-align: justify;

    white-space: pre-wrap;  
}

aside {
    background-color: #151515;
    font-size: 20px;
    padding: 15px;
    margin: 10px;
    margin-left: 0px;
    border-radius: 10px;
    max-width: 25%;
}

aside .contacts {
    text-align: center;
    background-color: inherit;
}

aside .contacts * {
    background-color: inherit;
}

